*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --primary-color: rgb(255, 0, 0);
    --primary-text: #000000;
    --secondary-text: #232323;

}

body{
    transition: all 0.3s;
}



#main-header{
    width: 100%;
    height: 60px;
    background-color: var(--primary);
}


/* 
.......................................
.............. Root css
.......................................
 */

 a{
    text-decoration: none;
    color: var(--primary-color);

 }

 .title a, .title{
    color: var(--primary-text);
 }

 .thumbnail img{
    width: 100%;
    height: 350px;
}


/* 
.......................................
..............  Main Home Css
.......................................
 */

.main-home{
    margin: 10px 150px;
    padding: 20px 30px;
    display: flex;
    gap: 50px;
    flex: 1;
}

.main-home-content{
    width: 65%;

}

.main-home-sidebar{
    width: 35%;
}

.main-home-content-post{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

.main-home-content-post-thumbnail img{
    border-radius: 5px;
}

.main-home-content-title{
    margin-bottom: 10px;
}

.main-home-content-post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-top: 2px;
    width: 100%;
    height: 60px;
    background-color: rgba(159, 224, 182, 0.223);
    border-radius: 15px;
}

.main-home-content-post-meta .author-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.main-home-content-post-meta .author-and-date{
    display: flex;
    gap: 10px;
    object-fit: cover;
    object-position: center;
}

.main-home-content-post-meta .author-name-and-date{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.total-view p::before{
   
}

