.comment {
    list-style-type: none;  
}

.comment-user-name-nine{
    margin: 0;
    padding: 0;
}

.vcard-nine .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.comment-author-nine{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.comment-name-and-date-metabox-nine{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.comment-text-nine, .reply-nine{
    margin-left: 60px;
}

.children .comment{
    margin-left: 60px;
    margin-top: 40px;
}